.body {
  width: 100%;
  display: grid;
  background-image: linear-gradient(180deg, #ffff0036, white);
  box-shadow: 1px 1px lightgrey;
}
.body__filter {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.body__filter select {
  width: 200px;
  height: 30px;
}
.body__normalBody {
  display: grid;
  grid-template-columns:  repeat(auto-fit, minmax(280px, 1fr));
  justify-content: space-around;
}
 #category option{
  text-transform: capitalize;
}